<% if resource.empty? %>
  <p>There are no questions yet</p>
<% else %>
  <p>There are <%= pluralize(resource.count, 'question') %> in this test so far</p>
<% end %>
<table>
  <thead>
    <tr>
      <th>
        Questions
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render resource %>
  </tbody>
</table>
