<%= link_to 'To all tests', tests_path %>
<h1>Test `<%= @test.title %>` questions:</h1>
<%= render 'questions_table', resource: @questions %>
<br/>
<%= link_to 'Create  new question', new_test_question_path(@test) %>
