<h1><%= "#{t('.result') } #{@test_passage.test.title}:"%></h1>
<p>
  <% if @test_passage.passed? %>
    <span style="color: green"><%= t('.success') %></span>
  <% else %>
    <span style="color: red"><%= t('.fail') %></span>
  <% end %>
</p>
<p>
  <%= link_to t('.to_all_tests') ,tests_path %>
</p>
