<% if resource.errors.size > 0 %>
<p> <%= t('.header', count: resource.errors.size) %> </p>
  <ul>
    <% resource.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
