<% if resource.errors.size > 0 %>
<p> There are <%= pluralize(resource.errors.size, 'error') %> </p>
  <ul>
    <% resource.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
