<% if logged_in? %>
  <div class="nav-container">
    <a style="color: #2E2F30" href="<%= root_path %>">
      <h1>
        Test guru
      </h1>
    </a>
    <span class="nav-container">
      <span class="nav user">Welcome <%= current_user.name %> guru</span>
      <%= button_to 'Logout', logout_path, method: :delete %>
    </span>
  </div>
<% end %>
