<tr>
  <td>
    <%= test.title  %>
  </td>
  <td>
    <%= test.category.title %>
  </td>
  <td>
    <%= test.time_limit %>
  </td>
  <td>
  <td><%= button_to t('.start'), start_test_path(test) %></td>
</tr>
